{% extends "base.html" %}

{% block title %} Add Movie Page {% endblock %}

{% block content %}
<form class="p-5" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for errors in form.errors.values() %}
    <div class="alert alert-danger">
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="mb-3 row">
        {{ form.image(class="form-control") }}
    </div>
    <div class="mb-3 row">
        {{ form.name(class="form-control", placeholder=form.name.label.text) }}
    </div>
    <div class="mb-3 row">
        {{ form.release_year(class="form-control", placeholder=form.release_year.label.text) }}
    </div>
    <div class="mb-3 row">
        {{ form.submit(class="btn btn-primary", placeholder=form.submit.label.text) }}
    </div>
</form>
{% endblock %}